.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    font-family: 'DM Sans', sans-serif;
    padding-top: 200px;
}

.titulo h1 {
    color: rgba(25, 240, 255, 0.904);
    text-decoration: underline 1px;
    padding: 4px 4px;
}

.tarjetas {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 80px;
}

.card-header, .card-body, .card {
    background-color: #1f1f22 !important;
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-family: 'DM Sans', sans-serif;
    min-width: 200px;
}

.fa-solid {
    color: white;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
}

button {
    margin-left: 60px;
}

h5 {
    color: #0c97b4;
}